
/* Impostazioni Generali */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/*Impostazioni Body */
body{
    background-color: rgb(172, 169, 169);
}


/* Header Sito */

header{
    
    vertical-align: middle;
    background-color: #fff;
    margin-bottom: 20px;
}

.container1{
    padding: 15px;
    margin: auto;
    width: 1200px;
    border-radius: 5px;
    border-bottom: 3px solid #eee;
    background-color:#fff;
}

.container2{
    padding-left: 50px;
    padding-bottom: 50px;
    margin: auto;
    width: 1200px;
    border-radius: 5px;
    background-color:#fff;
}

.button1{
    width: 150px;
    height: 40%;
    margin-left: 50px;
    margin-bottom: 10px;
    background: dodgerblue;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

.button2{
    width: 150px;
    height: 40%;
    margin-left: 50px;
    margin-bottom: 10px;
    background: white;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(173, 173, 173);
    color: rgb(173, 173, 173);
    text-transform: uppercase;
    font-size: 14px;
}


.list-item{
    list-style-type:none;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    color: green; 
    border: 1px solid ;
    border-radius: 50%;
}
.icon2{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
    color: red; 
    border: 1px solid ;
    border-radius: 50%;
}
